@import "./variable.scss";
@import "./tool.scss";

:root {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include theme("light", "dark") using ($theme) {
    @if $theme == light {
      background-color: #fff;
      color: #000;
    }
    @if $theme == dark {
      background-color: #000;
      color: #eee;
    }
  }

  @include size-of-font-size(1.5, $size...);
}
