@mixin size($s...) {
  @each $size in $s {
    &[data-size="#{$size}"] {
      @content ($size);
    }
  }
}

@mixin size-of-font-size($greater: 1.25rem, $s...) {
  $base: 1rem;
  $index: 0;
  @each $size in $s {
    $font-size: $base + ($greater * $index);
    &[data-size="#{$size}"] {
      font-size: $font-size;
      line-height: $font-size * $line-height-factor;
    }
    $index: $index + 1;
  }
}

@mixin theme($themes...) {
  @each $theme in $themes {
    &[data-theme="#{$theme}"] {
      @content ($theme);
    }
  }
}
