@mixin size-sequence($s...) {
  @each $size in $s {
    #{if(&,"&[data-size="#{$size}"]","[data-size="#{$size}"]")} {
      @content ($size);
    }
  }
}
@mixin size-selector($size, $selector) {
  #{if(&, "&[data-size='#{$size}']#{$selector}", "[data-size='#{$size}']#{$selector}")} {
    @content;
  }
}

@mixin size-of-font-size($greater: 1.25rem, $s...) {
  $base: 1rem;
  $index: 0;
  @each $size in $s {
    $font-size: $base + ($greater * $index);
    #{if(&,"&[data-size="#{$size}"]","[data-size="#{$size}"]")} {
      font-size: $font-size;
      line-height: $font-size * $line-height-factor;
    }
    $index: $index + 1;
  }
}

@mixin theme($themes...) {
  @each $theme in $themes {
    #{if(&,"&[data-theme="#{$theme}"]","::root[data-theme="#{$theme}"]")} {
      @content ($theme);
    }
  }
}
