@mixin size($s...) {
  @each $size in $s {
    &[data-size="#{$size}"] {
      @content ($size);
    }
  }
}

@mixin size-of-fontSize($base: 1rem, $greater: 1.3, $s...) {
  $index: 1;
  @each $size in $s {
    &[data-size="#{$size}"] {
      font-size: $base * $greater * $index;
    }
    $index: $index + 1;
  }
}

@mixin theme($themes...) {
  @each $theme in $themes {
    &[data-theme="#{$theme}"] {
      @content ($theme);
    }
  }
}
